export(
 #Reading input data from file:
 read.qc.results.data,
 #read.in.results.data.with.single.decoder.file,
 #read.in.results.data.with.two.decoder.files,
 #read.in.results.data.with.decoder,
 
 #Plotter Building:
 QoRTs.default.plotting.params,
 build.plotter.highlightBySample.colorByLane,
 build.plotter.highlightBySample,
 build.plotter.colorByLane,
 build.plotter.colorByGroup,
 build.plotter.summary,
 
 #Specific Plots:
 makePlot.qual.pair,
 makePlot.gc,
 makePlot.clipping,
 makePlot.cigarOp.byCycle,
 makePlot.legend.box,
 makePlot.insert.size,
 makePlot.genebody.coverage,
 makePlot.genebody.coverage.UMQuartile,
 makePlot.genebody.coverage.lowExpress,
 makePlot.missingness.rate,
 makePlot.cigarLength.distribution,
 makePlot.gene.cdf,
 makePlot.raw.NVC,
 makePlot.minus.clipping.NVC,
 makePlot.NVC.lead.clip,
 makePlot.NVC.tail.clip,
 makePlot.NVC.lead.clip.matchByClipPosition,
 makePlot.NVC.tail.clip.matchByClipPosition,
 
 makePlot.gene.assignment.rates,
 
 makePlot.splice.junction.loci.counts,
 makePlot.splice.junction.event.ratesPerRead,
 makePlot.splice.junction.event.proportions,
 makePlot.splice.junction.event.counts,
 makePlot.splice.junction.event.proportionsByType,
 
 makePlot.strandedness.test,
 makePlot.dropped.rates,
 makePlot.mapping.rates,
 makePlot.legend.over,
 makePlot.chrom.type.rates,
 makePlot.norm.factors,
 makePlot.norm.factors.vs.TC,
 get.summary.table,
 
 #Multi-plots:
 makePlot.summary.sample.highlight.andColorByLane.all,
 makePlot.summary.sample.highlight.andColorByLane,
 makePlot.summary.basic,
 makePlot.summary.sample.highlight,
 makePlot.summary.sample.highlight.all,
 makePlot.summary.colorByGroup,
 makePlot.summary.colorByLane,
 makePlot.all.std
)